<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="body">
        <div class="nav-bar">
            <!-- logo -->
            <div class="logo-container">
                <a href="#">
                    <div class="logo">
                        <div class="left"></div>
                        <div class="left1"></div>
                        <div class="right"></div>
                        <div class="right1"></div>
                        <div class="right2"></div>
                    </div>
                </a>
                <a href="#"><h1>ENJOY</h1></a>
            </div>

            <!-- left links -->
            <div class="left">
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">About</a>
            <a href="#">Posts</a>
            <a href="signup"><b>signUp</b></a>
            </div>
        </div>

        <div class="body-bottom">

        </div>

                        <!-- footer -->
        <footer>
            <div class="sc1"></div>
            <div class="sc2"></div>
            <div class="sc3"></div>
            <div class="sc4"></div>
        </footer>
    </div>
</body>
</html>